{% set pageTitle = "Your shielding note" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "AS" %}

{% extends "layout.html" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>{{ pageTitle }}</h1>

    <div class="white-box">
      <p>Your reference number is <strong>0123 4567 7890 1234</strong></p>
      <p>We have emailed your note to you.</p>
      <p>You can also download your shielding note:</p>

      <a class="nhsuk-button" href="/files/note.pdf">Download your note (PDF, 80kb)</a>

      <p>Write down your reference number and keep it safe.</p>
    </div>

    </div>
  </div>
{% endblock %}
