{% set pageTitle = "What is your NHS number?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v2" %}

{% extends "layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}/note-dob">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/{{version}}/check-your-answers">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-2" for="nhs-number">
              {{ pageTitle }}
            </label>
          </h1>
          <div class="nhsuk-hint" id="nhs-number-hint">
            Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.
          </div>
          <div class="nhsuk-hint">
            You can also <a href="https://www.nhs.uk/nhs-services/online-services/find-nhs-number/" target="_blank" rel="noopener noreferrer">find your NHS number online (link opens in a new window)</a>.
          </div>
          <input class="nhsuk-input" id="nhs-number" name="nhs-number" type="text" value="{{ data['nhs-number'] }}" aria-describedby="nhs-number-hint" inputmode="numeric">
        </div>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Why we are asking this
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>We need to include this information on your shielding note.</p>
            <p>We will use your NHS number to check if you are on the shielded patient list.</p>
            <p>It helps identify you if there is more than 1 person with your name at your work.</p>
            <p>Your NHS number will also be used to keep your shielding note secure.</p>
          </div>
        </details>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
