{% set version = "EIS" %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Example - Clear data
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Clear the session data</h1>

      <form method="post" action="/{{version}}/clear-data-success">

        {{ panel({
            "HTML": "<p>This will clear all of the data entered in this session</p>"
        }) }}

        {{ button({
          "text": "Clear the data"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
