{% set pageTitle = "Thank you for your submission" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "EIS" %}

{% extends "layout.html" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageTitle }}</h1>
      <p>We will send your shielding note by email if we have your email address on our system.</p>
      <p>If we do not we will send it to the address you have provided.</p>

      <h2>What you need to do next</h2>
      <p>Once you have your shielding note you can give it to your employer if they ask to see it.</p>
      <p>They may check the details you have provided using the <a href="#?">Check a shielding note service</a>.</p>

      <h3>If you have not received your note</h3>
      <p>If you have not received your shielding note after 4 days check your junk mail folder.</p>
      <p>If there’s no email in your junk mail folder speak to your GP surgery.</p>
      <p>You can speak to the GP surgery receptionist to explain the situation – they will decide if you need to speak to a GP.</p>


      {% from 'inset-text/macro.njk' import insetText %}
      {{ insetText({
        "HTML": "<h2>Sign up to the NHS App</h2>
        <p>If you need medical advice you can also get it by <a href=https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/'>signing up to the NHS App</a>.</p>
        <p>Owned and run by the NHS, the NHS App is a simple and get access to a range of NHS services on your smartphone or tablet.</p>
        <p>You can:</p>
        <ul>
          <li>get advice about coronavirus</li>
          <li>order repeat prescriptions</li>
          <li>book appointments</li>
          <li>check your symptoms</li>
        </ul>
        <p>Read more about how to <a href='https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/'>sign up for the NHS App</a> on the NHS website.</p>"
      }) }}


    </div>
  </div>
{% endblock %}
