{% set pageTitle = "Get a shielding note" %}
{% set version = "EIS" %}

{% extends 'layout.html' %}



{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}


{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageTitle }}</h1>

      <p>Use this service if you need a note for your employer, so you can get Statutory Sick Pay (SSP) or Employment and Support Allowance (ESA). </p>

      <p>This service is <strong>only</strong> for people who:</p>
      <ul>
        <li>are at high risk from coronavirus (clinically extremely vulnerable) – you received a letter advising you to take extra steps to protect yourself (shield)</li>
        <li>live outside of but work inside an area with a local outbreak (where shielding advice is in place) – visit <a href="https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19">GOV.UK to check if this applies to you</a></li>
        <li>cannot work from home</li>
        <li>live in England</li>
      </ul>

      <p>You <strong>do not</strong> need a note if:</p>
      <ul>
        <li>you live and work in the same area – you will get a letter from a GP telling you if you need to take extra steps to protect yourself (shield)</li>
        <li>you can work from home</li>
      </ul>

      {% from 'inset-text/macro.njk' import insetText %}
      {{ insetText({
        "HTML": "<p>If you have symptoms of coronavirus, stay at home and <a href='https://www.nhs.uk/conditions/coronavirus-covid-19/testing-and-tracing/get-a-test-to-check-if-you-have-coronavirus/'>get a coronavirus test</a>.</p>
        <p>If you need medical advice about your symptoms:</p>
        <ul>
          <li>England: <a href='https://111.nhs.uk/covid-19'>111 online coronavirus service</a></li>
          <li>Scotland: <a href='https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19'>NHS inform</a></li>
          <li>Wales: <a href='https://111.wales.nhs.uk/SelfAssessments/symptomcheckers/COVID19.aspx'>NHS Direct Wales</a></li>
          <li>Northern Ireland: get advice from a GP or GP out-of-hours service</li>
        </ul>"
      }) }}

      <a class="nhsuk-button" href="/{{ version }}/screener-question">Start now</a>


      <p>You can use this service for someone else.</p>
      <p>Employers can check a shielding note is valid by using the <a href="#?">Check a shielding note service</a>.</p>
      <p>By using this service you are agreeing to our <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/terms/">terms of use</a> and <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/privacy/">privacy policy</a>.</p>



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
