<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype - {{ pageTitle }}
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Get a shielding note",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

      {% block main %}
        <div class="nhsuk-width-container {{ containerClasses }}">
          {% block backLink %}{% endblock %}
          <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent">
            {% block content %}{% endblock %}
          </main>
        </div>
      {% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
      <footer role="contentinfo">
        <div class="nhsuk-footer" id="nhsuk-footer">
          <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/{{ version }}/clear-data">Clear data</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/terms/">Terms &amp; conditions</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/privacy/">Privacy policy</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/accessibility">Accessibility statement</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/help">Help and support</a></li>
            </ul>
            <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
          </div>
        </div>
      </footer>
      {% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
